@import 'normalize.css';

@font-face {
  font-family: BrogiFREE;
  src: url("../fonts/BrogiFREE.otf");
}

@font-face {
  font-family: Teko Regu;
  src: url("../assets/fonts/Teko-regular.ttf");
}

//.title--head{

//}
body {
  color: #ffffff;
}
.title {
  font-family: 'Teko Regu';
}
.big-title{
  font-size: 101px;
  text-transform: uppercase;
background-image: linear-gradient(90deg, #DFE4FE, #B28DF9);
background-clip: text;
color: transparent;
  letter-spacing: 12px;
  max-width: 17ch;
}