@import 'normalize.css';

@font-face {
  font-family: BrogiFREE;
  src: url("../fonts/BrogiFREE.otf");
}

@font-face {
  font-family: Teko Regu;
  src: url("../assets/fonts/Teko-regular.ttf");
}

//.title--head{

//}

.title {
  font-family: 'Teko Regu';
  text-transform: uppercase;
}

.big-title {
  font-size: 35px;
  letter-spacing: 7px;
  max-width: 20ch;
}
.gradient-title{
  background-image: linear-gradient(90deg, #DFE4FE, #B28DF9);
  background-clip: text;
  color: transparent;
}
.bluetext{
  color: #A9B7DC;
}
@media only screen and (min-width: 750px) {}

@media only screen and (min-width: 1024px) {
  .big-title {
    font-size: 101px;
  }
}