@import 'normalize.css';

@font-face {
  font-family: BrogiFREE;
  src: url("../fonts/BrogiFREE.otf");
}

@font-face {
  font-family: Thorngumbald-Regular;
  src: url("fonts/Teko-Bold.ttf");
}

//.title--head{

//}

.big-title{
  font-size: 101px;
}