@import 'utils/variables';
@import 'components/type';
@import 'charts';
@import 'floatingitem';


:root {
  --color-primary: #161616;
  --color-secondary: #f5f5f5;
  --color-link: #abfaff;
  --color-body: #03023B;
  --color-link-header: #f5f5f5;
}

@media(prefers-color-scheme: dark) {
  :root {
    --color-primary: #161616;
    --color-secondary: #f5f5f5;
    --color-blueish: #84C4CE;
  }
}

[data-theme='light'] {
  --color-primary: #f5f5f5;
  --color-secondary: #161616;
  --color-visited: #b97d7d;
  --color-body: #dadada;
}

[data-theme='dark'] {
  --color-primary: #161616;
  --color-secondary: #f5f5f5;
  --color-visited: #710b0b;
  --color-link: #ffffff;
}

/* mobile*/

body[data-menu] .header__navigation--m {
  display: flex;
  align-content: space-around;
  position: fixed;
  width: 100%;
  height: 170px;
  background-color: var(--color-secondary);
  padding-bottom: 17em;
  color: var(--color-primary);
  margin-top: 1em;
  z-index: 2;
}

body[data-menu] .list__m--header {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8em;
  padding: 0;
  margin-left: 16vh;
  padding-top: 1em;
}

body[data-menu] .mlink--header,
.link--header {
  font-size: 28px;
}

body[data-menu] .mlink--active,
.link--active {
  border-bottom: solid 3px #84C4CE;
  color: var(--color-linky-active);
}
.link, .link--footer:hover {
  cursor: pointer;
  color: #75F7FF;
  text-decoration: none;
  border-bottom: 3px white solid;
}
a, .link, .link--footer:visited {
  color: #8cacff;
}

.link, .link--footer a:focus {
  font-weight: bolder;
  text-decoration: none;
  color: #fff
}
html,
body {
  min-height: 100%;
}

body {
  background-color: var(--color-secondary);
  line-height: 1.5;
  font-size: 18px;
  margin: 0;
  font-weight: 400;
  font-family: 'remthin';
  -webkit-font-smoothing: antialiased;
  color: var(--color-secondary);
  max-width: 3000px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.link {
  font-size: 16px;
}

.link--section {
  color: var(--color-linky);
}
.header--second{
  color: #f5f5f5;
}
.btn--burger {
  display: none;
}

.list--header,
.list--footer,
.link--section,
.list {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 13px;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

body {
  background-color: var(--color-body);
}

main {
  max-width: 1920px;
  margin: 0 1.5em;
}


:root {
  --light: black;
}

input {
  position: absolute;
  display: none;
}

.slider {
  cursor: pointer;
  position: relative;
  top: -8px;
  width: 70px;
  height: 30px;
  border-radius: 50px;
  transition: 0.3s;
  background: none;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.list--header {
  display: none;
}

.slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: none;
  transition: 0.3s;
  background-image: url(../assets/images/buttonmode.svg);
}

input:checked~.slider::before {
  transform: translateX(38px);

  background-image: url(../assets/images/buttonmode.svg);
}



.logo {
  padding-left: 26px;
  padding-top: 0px;
  width: 58px;
  height: 33px;
}

.headelhead {
  width: 51vh;
  top: 1em;
  z-index: -1;
  position: absolute;
  left: 0%;
  filter: drop-shadow(2px 4px 6px black);
}

.header__navigation--m {
  display: none;
}

.elipseradial {
  width: 55%;
  position: absolute;
  z-index: -5;
  left: 44%;
}

.headset {
  z-index: 1;
  left: 0;
}


.iceberg {
  z-index: 1;
  height: 50%;
}

.building {
  z-index: 1;
  top: -18vw;
}

.informatique {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
}

.sectionbase {
  padding-top: 8rem;
  margin-bottom: -12rem;
}

.com {
  margin-top: 2vh;
  margin-left: -4vh;
}

.com__liste {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
  margin-left: 16px;
  padding: 0;
}

.com__liste .com__el {
  position: relative;
  margin-left: 1em;
}

.com__icon {
  width: 12vh;
}

.big-paragraph {
  font-size: 24px;
  margin-bottom: 0;
  margin-top: -14vh;
  max-width: 39ch;
  text-align: center;
}

.bubblegame {
  margin-left: -20vw;
  width: 130%;
  height: 100%;
  position: relative;
  z-index: -1;
  top: 24vw;
  left: 0;
}

.vram {
  width: 66%;
  position: relative;
  z-index: -1;
  left: -70px;
  margin-top: 0%;
  
}

.bold {
  font-weight: bolder;
}

.informatique--tuto {
  width: 100%;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  display: flex;
  top: 0;
  left: 0;
}

.layer {
  background-image: url(../assets/images/pcedit.gif);
  background-color: #161616;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.layer-1 {
  flex: 1;
  background-image: none;
}

.layer-2 {
  flex: 1;
}

.layer-3 {
  flex: 1;
  background-image: none;
}

.gallery {
  width: 900px;
  display: flex;
  overflow-x: scroll;
}

.gallery div {
  width: 183%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 60px;
  padding: 10px;
  flex: none;
}

.gallery div img {
  width: 135%;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 6%;
}

#backBtn,
#nextBtn {
  width: 18px;
  margin: 4px;
}

.rencontre {
  margin-top: 1em;
}

.conclusion {
  margin-bottom: 5em;
}

.reseaux {
  list-style: none;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.reseaux__liste {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0px;
}

.reseaux__el {
  text-decoration: none;
  border-radius: 25px;
  display: inline-flex;
}

.reseaux__txt {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}

.contact__icon {
  fill: #fff;
  width: 40px;
  height: 40px;
}

footer {
  background-color: #6526B3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 15px;
  font-size: 33px;
  text-align: center;
}

.list--footer {
  display: flex;
  gap: 30px;
  padding: 0;
}

.DWT {
  margin-top: -3rem;
  width: 100px;
  height: 100px;
  filter: drop-shadow(2px 4px 6px black);
}

a {
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  border-bottom: none;
  cursor: pointer;
}
.vram-legend {
  width: 100%;
}

.vram-text {
  margin-top: -4rem;
}


.title__h2--uikit {
  font-size: 65.43px;
  margin-top: 20px;
  margin-bottom: 32px;
  line-height: 1.7;
  text-align: center;
}

/*
.row {
  display: block;
}
*/
.mainkit {
  margin: 0em 1em;
}

.uikit {
  font-size: 28.43px;
  margin-top: 28px;
  margin-bottom: 32px;
  line-height: 1.7;
}

.ui--sections .title {
  margin-bottom: 23px;
}

.block-title {
  text-align: left;
}

.uikit__links-active {
  display: block;
  border-bottom: solid 2px #84C4CE;
  color: var(--color-linky-active);
}

.uikit__links-hover {
  border-bottom: solid 1px;
  color: var(--color-linky-active);
}

.uikit__links-visited {
  color: #8cacff;
}
.uikit__links-focus{
  font-weight: bold;
}
.block--list {
  display: flex;
  flex-direction: row;
  padding-right: 0;
  gap: 1rem;
  list-style: none;
}
.block__links{
  flex-direction: column;
  display: inline;
}
.big-paragraph--ui {
  margin-top: 6vh;
  text-align: left;
}

.title--p {
  font-size: 18px;
}

.color {
  border-radius: 4px;
  height: 50px;
  width: 50px;
}

.darkblue {
  background-color: #03023b;
  border: #abfaff 1px solid;
  color: white;
  list-style: none;
}

.blue {
  background-color: #abfaff;
}

.purple {
  background-color: #6526B3;
}
.white {
  background-color: #DFE4FE;
}
.video {
  width: 100%;
  height: 100%;
}

iframe {
  display: block;
  margin: auto;
  width: 80%;
  height: 40vw;
  border-radius: 9px;
  border: none;
  box-shadow: 5px 5px 20px -4px rgba(0, 0, 0, 0.33);
}

.footer-vid {
  margin-top: 15rem;
}

.link--video {
  display: block;
  margin-top: 2.827rem;
  text-align: center;
}

.title--uikit {
  margin-top: 1em;
  text-align: center;
}

.title--head--ui {
  font-family: "Teko Regu";
  background-image: linear-gradient(90deg, #DFE4FE, #B28DF9);
  background-clip: text;
  color: transparent;
}

.title--head--ui-third {
  font-size: 32px;
}

.purifyspace {
  margin-bottom: 5px;
}
.title__undertitle {
  color: #75F7FF;
  font-size: 43px;
}
.block--list{
  list-style-type: none;
}
.block__list--el {
  list-style-type: circle;
  width: 300px;
}
.credits--sections {
  margin-right: auto;
  margin-top: 30px;
}
.headelhead--ui{
  width: 46vh;
  top: 2em;
  position: absolute;
}
@media(min-width: 640px) {

.headelhead {
  width: 44vh;
  top: -17em;
}

.com {
  margin-top: 2vh;
  margin-left: -6vh
}

.big-paragraph {
  margin-top: -6vh;
  margin-bottom: 0;
}

.com__liste {
  gap: 30px;
}
.title__undertitle {
  color: #75F7FF;
  font-size: 43px;
  margin-top: -2rem;
}
.com__liste .com__el {
  margin-left: 0;
}

.vram {
  margin-top: 0%;
}

.vram-text {
  margin-top: -4rem;
}
}
.credits--mainkit{
  max-width: 1100px;
}
@media(min-width: 768px) {
  main {
    max-width: 1920px;
    margin: 0 4.5em;
  }
  .headelhead {
    width: 111vh;
    top: 3em;
}
main {
  max-width: 50ch;
}
.elipseradial {
  width: 23%;
  position: absolute;
  z-index: -5;
  left: 34%;
}
.list, .list--icon {
  text-decoration: none;
  list-style: none;
  display: block;
}
.com__icon{
  width: 27vh;
}
.com {
  margin-top: 2vh;
  margin-left: 0;
}
}
@media only screen and (min-width: 1024px) {

  .headelhead {
    width: 79%;
    margin-top: -6rem;
  }
 .underbigtitle{
  margin-bottom: 12rem;
 }
  main {
    max-width: 1920px;
    margin: 0em 9em;
  }

  .title__second{
    font-size: 76px;
  }

  .title__uppertitle {
    font-size: 57px;
  }

  .title__undertitle {
    color: #75F7FF;
    font-size: 43px;
    margin-top: -2rem;
  }

  header {
    display: flex;
    margin-top: auto;
    position: fixed;
    width: 100%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(4px);
    z-index: 2;
    height: 7%;
    top: 0em;
  }

  .header--second {
    margin-right: 2%;
    font-size: 26px;
    font-family: "REMTHIN";
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .list--header {
    display: flex;
  }

  .list--header {
    gap: 112px;
  }

  .btn--burger {
    display: none;
  }

  .elipseradial {
    width: 32%;
    left: 55%;
  }

  .informatique {
    width: 15%;
  }

  .bubble-section {
    margin-top: -8em;
  }

  .bubblegame {
    width: 130%;
    height: 100%;
    position: relative;
    z-index: -1;
    top: 24vw;
    left: 0;
  }

  .paragraph-bubble {
    margin-top: -29rem;
  }

  .list--header .link--header {
    font-size: 24px;
  }

  .container {
    margin-top: 6rem;
  }

  .informatique--pc {
    width: 24%;
    margin-right: 2rem;
    margin-top: -8rem;
  }

  .pc-side {
    margin-top: 4rem;
  }

  .informatique--tour {
    width: 24%;
    margin-right: 3rem;
    margin-top: -7rem;
  }

  .informatique--tuto {
    width: 42%;
    top: 22em;
    left: 26rem;
  }

  .informatique--me {
    left: 11rem;
    position: absolute;
    bottom: 12%;
  }

  .nowhitespace {
    max-width: 56ch;
  }

  .iceberg {
    z-index: 1;
    height: 123%;
    width: 17%;
    left: 22%;
    bottom: 75%;
    max-width: 55ch;
  }

  p {
    max-width: 55ch;
  }

  .headset {
    left: 60%;
    position: absolute;
  }

  .store {
    height: 86%;
    margin-left: -7rem;
    margin-top: -9rem;
  }

  .vram {
    width: 23%;
    left: 500px;
    margin-top: -13em;
  }

  .vram-legend {
    width: 100%;
    margin-top: -8rem;
    z-index: -3;
    position: relative;
  }

  .vram-text {
    margin-top: -17rem;
  }

  .building-text {
    margin-left: 52vw;
    margin-top: -38%;
  }

  .building-text--down {
    margin-top: -33%;
  }

  .space {
    margin-top: 3em;
    max-width: 55ch;
  }

  .space-berg {
    margin-top: 17rem;
  }

  .space-pc {
    margin-top: 13rem;
  }

  .com {
    margin-top: 3vh;
    margin-left: -2em;
  }

  .com__icon {
    width: 25vh;
  }

  .com__liste {
    gap: 44px;
  }

  .com__liste .com__el {
    position: relative;
    margin-left: 20vh;
  }

  .rencontre {
    margin-top: 18rem;
  }

  .gallery {
    /* height: 68px; */
    /* margin: 3px; */
    display: flex;
    overflow-x: scroll;
  }

  .gallery div {
    grid-gap: 107px;
    width: 100%;

  }

  .gallery div img {
    width: 152%;
    grid-gap: 1px;

  }

  #backBtn,
  #nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
  }

  .arrow {
    width: 3%;
    margin: 10%;
  }

  .big-paragraph {
    max-width: 55ch;
    margin-top: -13vh;
  }

  .big-paragraph--center {
    inset: 0;
    margin: auto;
  }

  iframe {
    width: 65%;
    height: 38vw;
  }

  .mainkit {
    margin: 0em 11em;
  }

  .title--spacing {
    margin-bottom: -15rem;
  }

  .reseaux__liste {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0px;
    gap: 16px;
  }
  .uikit__links-active {
    display: inline;
    margin-left: -2vh;
  }
  .uikit__links-hover{
    display: inline;
    cursor: pointer;
    color: #75F7FF;
    text-decoration: none;
    border-bottom: 3px white solid;
  }
  .uikit__links-visited{
    color: #A9B7DC;
    display: inline;
  }
  .uikit__links-focus{
    font-weight: bold;
    display: inline;
  }
  .block__links {
    flex-direction: column;
    display: inline-grid;
    margin-bottom: 22px;
  }
  .block-title {
    text-align: left;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
}
.headelhead--ui{
  width: 85%;
}
  /* GRID */
  .grid {
    display: grid;
    grid-template-columns: 1fr 1.6fr 1.6fr 1fr 1.3fr 1.6fr;
    gap: 0px 38px;
  }

  .grid>* {
    grid-column: 1/-1;
  }

  .dgrid-start2 {
    grid-column-start: 2;
  }

  .dgrid-start3 {
    grid-column-start: 3;
  }

  .dgrid-start5 {
    grid-column-start: 5;
  }

  .dgrid-end3 {
    grid-column-end: 3;
  }

  .dgrid-end5 {
    grid-column-end: 5;
  }

  .dgrid-end6 {
    grid-column-end: 6;
  }

}