@import 'utils/variables';
@import 'components/type';
@import 'charts';
@import 'floatingitem';


:root {
    --color-primary: #161616;
    --color-secondary: #f5f5f5;
    --color-linky: #F05A7E;
    --color-link: #FFFFFF;
    --color-visited: #710b0b;
    --color-body: #03023B;
  }
  
  @media(prefers-color-scheme: dark) {
    :root {
      --color-primary: #161616;
      --color-secondary: #f5f5f5;
      --color-blueish: #84C4CE;
    }
  }
  
  [data-theme='light'] {
    --color-primary: #f5f5f5;
    --color-secondary: #161616;
    --color-visited: #b97d7d;
    --color-body: #dadada;
  }
  
  [data-theme='dark'] {
    --color-primary: #161616;
    --color-secondary: #f5f5f5;
    --color-visited: #710b0b;
    --color-link: #ffffff;
  }
  
  /* mobile*/
  
  body[data-menu] .header__navigation--m {
    display: flex;
    align-content: space-around;
    position: fixed;
    width: 100%;
    height: 170px;
    background-color: var(--color-secondary);
    padding-bottom: 17em;
    color: var(--color-primary);
    margin-top: 1em;
    z-index: 2;
  }
  
  body[data-menu] .list__m--header {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8em;
    padding: 0;
    margin-left: 16vh;
    padding-top: 1em;
  }
  
  body[data-menu] .mlink--header,
  .link--header {
    font-size: 28px;
    color: var(--color-link);
  }
  
  body[data-menu] .mlink--active,
  .link--active {
    border-bottom: solid 3px #84C4CE;
    color: var(--color-linky-active);
  }
  
  html,
  body {
    min-height: 100%;
  }
  
  body {
    background-color: var(--color-secondary);
    line-height: 1.5;
    font-size: 18px;
    margin: 0;
    font-weight: 400;
    font-family: 'remthin';
    -webkit-font-smoothing: antialiased;
    color: var(--color-secondary);
    max-width: 3000px;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-image: url(../images/rows.svg);
  }
  
  .link--header,
  .link--footer,
  
  .link {
    color: var(--color-link);
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
  }
  
  .link--section {
    color: var(--color-linky);
  }
  
  .list--header,
  .list--footer,
  .link--section,
  .list {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 13px;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
body {
    background-color: var( --color-body);
}
main {
    max-width: 1920px;
}
main, footer {
  margin: 0 1.5em;
}
.text__darklight {
  display: none;
}


.darkModeToggle {
  position: relative;
  width: 100%;
  grid-column-start: 2 ;
}

:root {
  --light: black;
}

input {
  position: absolute;
  display: none;
}

.slider {
  cursor: pointer;
  position: relative;
  top: -8px;
  width: 70px;
  height: 30px;
  border-radius: 50px;
  transition: 0.3s;
  background: none;
  border-width: 2px;   
  border-color: black; 
  border-style: solid;
}

.slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: none;
  transition: 0.3s;
  background-image: url(../assets/images/buttonmode.svg);
}

input:checked ~ .slider::before {
  transform: translateX(38px);

  background-image: url(../assets/images/buttonmode.svg);
}


.header--second {
  display: flex;
    align-items: center;
    margin-right: 2em;
    /* flex-direction: row-reverse; */
    gap: 2em;
}
.logo {
  padding-left: 26px;
  padding-top: 0px;
  width: 58px;
  height: 33px;
}

.header__navigation {
  visibility: hidden;
}
.headelhead {
  height: 109vh;
  width: 56vh;
  top: -12em;
  z-index: -1;
  position: absolute;
  left: -2%;
  filter: drop-shadow(2px 4px 6px black);
}
.header__navigation--m {
  display: none;
}
.elipseradial {
  width: 55%;
  position: absolute;
  z-index: -5;
  left: 44%;
}

.headset {
  z-index: 1;
  left: 0;
}
.iceberg {
  z-index: 1;
  top: -16vw;
  height: 50%;
}
.building {
  z-index: 1;
  top: -18vw;
}
.informatique {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
}

.sectionbase {
  padding-top: 8rem;
  margin-bottom: -12rem;
}
.com {
  margin-top: -11vh;
  margin-left: -2em;
}
.com__liste{
  display: flex;
  flex-direction: row;
    align-items: flex-start;
    list-style: none;
}
.com__liste .com__el {
  position: relative;
  margin-left: 1em;
}
.com__icon {
  width: 12vh;
}
.bubblegame {
  width: 166%;
  height: 100%;
  position: relative;
  z-index: -1;
  top: 10vw;
  left: 0;
  margin-left: -186px;
}
.vram {
  width: 78%;
  position: relative;
  z-index: -1;
  top: -1vw;
  left: 7%;
}
